* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 390px;
}

.grid {
    width: 24px;
    height: 24px;
    border: 2px black solid;
}

.hover-color {
    background-color: aqua;
}